upstream {{ app_name }} {
    least_conn;
{% for port in local_ports %}
    server 127.0.0.1:{{ port }} fail_timeout=0;
{% endfor %}
}


server {
    listen 80;
    server_name {{ domain_name }};


    access_log {{ app_dir }}/logs/access.log;
    error_log {{ app_dir }}/logs/error.log info;

    location / {
        proxy_set_header Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://{{ app_name }};
            break;
        }
    }
}
