
{% for port in local_ports %}
[program:{{ app_name }}_{{ port }}]
command = {{ venv_python }} {{ tornado_dir }}/manage.py --port={{ port }}                    ; Command to start app
user = {{ deployer_user }}                                                          ; User to run as
stdout_logfile = {{ app_dir }}/logs/supervisor_{{ port }}.log   ; Where to write log messages
redirect_stderr = true
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
{% endfor %}

[group:{{ app_name }}]
programs={% for port in local_ports %}{{ app_name }}_{{ port }}{{ "," if not loop.last else ""}}{% endfor %}
